*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4cbab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    height: 100vh;
    letter-spacing: 3px;
    text-align: center;
    padding: 0 20px;
}

img{
    border-radius: 50%;
    border: 3px solid #754a0e;
    width: 200px;
    height: 200px;
}

p{
    text-transform: capitalize;
    font-weight: bold;
}



a{
    text-decoration: none;
    color: #754a0e;
    word-break: break-all;
    text-transform: capitalize;
}

a:hover{
    color: #48300f;;
}

.username{
    text-transform: capitalize;
}

.date{
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 769px) {
    body{
        font-size: 20px;
    }
}
