*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(227, 200, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    height: 100vh;
    letter-spacing: 3px;
    text-align: center;
    padding: 0 20px;
}

img{
    border-radius: 50%;
    border: 4px solid #614114;
}

span:not(#time, #day){
    text-transform: uppercase;
    font-weight: bold;
}

p{
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: #754a0e;
    word-break: break-all;
}

.username{
    text-transform: capitalize;

    /* font-size: 24px; */
}

@media (max-width: 769px) {
    body{
        font-size: 18px;
    }
}
